################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/OpenTheNoor/FileContentIndex
/.vs/OpenTheNoor/v17
/.vs
/bin/Debug
/obj
